body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222126;
}

.taskListWrapper {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #333335;
    margin-bottom: 10px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    padding-top: 15px;
    padding-bottom: 40px;
    border-radius: 40px;
    margin-top: 100px;
    background-color: #333335;
}

.logoText {
    color: white;
    width: 200px;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 40px;
    font-weight: bold;
}

.taskElement {
    padding-top: 5px;
    background-color: #444446;
    color: white;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.checkBtn {
    border-radius: 10px 0 0 10px;
    background-color: #6b9cdf;
    background-image: url(./materials/accept-checklist-checkmark-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    border: none;
    margin-right: 0;
    background-size: 33px;
}

.saveBtn {
    all: unset;
    width: 100px;
    height: 33px;
    background-color: #444446;
    color: white;
    border-radius: 10px;
    font-size: small;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    font-size: medium;
}

.deleteBtn {
    all: unset;
    border-radius: 0px 10px 10px 0px;
    background-color: #fb3149;
    width: 40px;
    height: 40px;
    background-image: url(/materials/trash-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 33px;
}

.taskElementBtns {
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskInput {
    all: unset;
    margin-right: 10px;
    width: 190px;
    height: 33px;
    background-color: #444446;
    color: white;
    padding-left: 10px;
    border-radius: 10px;
    font-size: small;
}

.selectMember {
    margin-right: 10px;
    background-color: #444446;
    border: none;
    color: white;
    font-size: small;
    font-weight: normal;
    border-radius: 10px;
    width: 200px;
    height: 33px;
}

.selectPriority {
    margin-right: 10px;
    background-color: #444446;
    border: none;
    color: white;
    font-size: small;
    font-weight: normal;
    border-radius: 10px;
    height: 33px;
    padding-left: 5px;
}

.nameTask {
    width: 200px;
    padding: 0px;
    margin-right: 10px;
    word-wrap: break-word
}

.nameResponsible {
    width: 200px;
    margin-right: 10px;
}

.levelPriority {
    width: 70px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}

.priorityLow {
    color: white;
    background-color: #54ac55;
    font-weight: bold;
}

.priorityMedium {
    background-color: #ffa61a;
    color: white;
    font-weight: bold;
}

.priorityHight {
    background-color: #fb3149;
    color: white;
    font-weight: bold;
}

.line {
    height: 1px;
    width: 70%;
    background-color: #656567;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.taskDoneList {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}